@tailwind base;
@tailwind components;
@tailwind utilities;

a.reference {
    color: blue;
    text-decoration: underline;
  }

.marker-line {
    display: inline-block; /* または block; 必要に応じて調整 */
    background-image: linear-gradient(to bottom, #d9f99d 50%, transparent 50%); /* 薄めの緑色 #d9f99d */
    background-repeat: repeat-x;
    background-position: 0 0.8em; /* マーカー縦位置調整 */
    background-size: 100% 0.3em; /* マーカー太さ調整 */
  }
  
.marker-text {
    /* 必要に応じてテキスト自体のスタイルを調整 */
    /* 例: color: #333; など */
    }